.header {
  background:#246 !important;
  height: 60px !important;
}

.ui-content {
         padding: 0 !important;
       }


.bx-wrapper .bx-caption span {
  font-size: 1.85em !important;

  }
.box-bg {
  background: #607D8B;
  color: #fff;
  padding: 0px !important;
  margin: 0px !important;
}

.services-box-bg {
  background:#1ABC9C !important;
  color: #fdfdfd !important;
  }

.contact-box-bg {
    background: #607D8B !important;
    color: #fdfdfd !important;
    }

  .page-footer {
  background:#373737 !important;
  color: #fdfdfd !important;
  }


  .center {
  text-align: center;
}


#edit-with-js-bin { display: none !important; }
.ui-mobile .ui-page-active {
display: block;
overflow: hidden !important;
overflow-x: hidden;
}

.page-footer {
background:#373737 !important;
color: #fdfdfd !important;
}

.center {
text-align: center;
}

.content-white-bg {
background: #fff !important;
color: #fdfdfd !important;
}

.content-dark-bg {
background: #373737 !important;
color: #fdfdfd !important;
}

 .content-dark-bg  {
background: #373737 !important;
color: #fdfdfd !important;
}

.fa {
color: #fdfdfd !important;
padding: 1% !important;
}


a {
text-decoration:none !important;
}
/* Image Resizing */
.img { border: 0; box-sizing: border-box; max-width: 100%; _width: 100%; height: auto; vertical-align: middle; }

img[src*="maps.gstatic.com"] { max-width: none; }

img[src*="googleapis.com"] { max-width: none; }

svg:not(:root) { overflow: hidden; }


}
