<div class='row around-xs'>
	<div class='col-xs-auto'>
		<a href='#home' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-assignment zmd-2x'></i><strong>HOME</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='#about' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-fire zmd-2x'></i><strong>ABOUT US</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='#services' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-cloud-outline-alt zmd-2x'></i><strong>SERVICES</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='#contact' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-format-color-fill zmd-2x'></i><strong>CONTACT</strong></a>
	</div>
</div>
