<nd2-include data-src="partials/panel.left.html"></nd2-include>

<div data-role="panel" id="bottomsheet" data-animate="false" data-position='bottom' data-display="overlay">
  <nd2-include data-src="partials/bottom.sheet.html"></nd2-include>
</div>

<div data-role="header" data-position="fixed"  class="header wow fadeInDown" data-wow-delay="0.2s">
  <a href="#bottomsheet" class="ui-btn ui-btn-right wow fadeIn" data-wow-delay='1.2s'><i class="zmdi zmdi-more-vert"></i></a>
  <a href="#leftpanel" class="ui-btn ui-btn-left wow fadeIn" data-wow-delay='0.8s'><i class="zmdi zmdi-menu"></i></a>
  <h1 class="wow fadeIn" style="text-align: center;" data-wow-delay='0.4s'>WELCOME TO TLA</h1>
</div>
<div class="row">
<div class="col=xs=12">
<nd2-include class="wow fadeIn"  data-wow-delay='0.5s' data-src="partials/logo.html"></nd2-include>
</div>
</div>
