
<!-- START LOGO -->
<div class="row" style="background:#fff  !important; ">
  <div  class="col-xs-12 content-white-bg" style="background:#fff  !important; ">
    <img class="img" src="https://raw.githubusercontent.com/dyoungwd/tla/master/img/logo-slide.png">
    <h3 is="gk-text" style="position:absolute; z-index:10; top:60px; left:210px; font-family:roboto; letter-spacing:-2px;"></h3>
  </div>
</div><!-- /END LOGO -->
