			<!-- panel left -->
			<div data-role="panel"  id="leftpanel" data-display="overlay" data-position-fixed="true" >

				<div class='nd2-sidepanel-profile wow fadeInDown'>
					<img class='profile-background' src="https://raw.githubusercontent.com/dyoungwd/tla/master/img/slide2.png" />

				</div>


				<ul data-role="listview" data-inset="false">
					<li data-role="list-divider">Menu</li>
				</ul>
				<div  data-role="collapsible" data-inset="false"  data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Site Links</h3>
					<ul data-role="listview" data-inset="false" data-icon="false">
						<li><a href="#home" data-ajax='false' data-icon="false"><img is="dragable" src="https://raw.githubusercontent.com/dyoungwd/tla/master/img/icons/home.png "  /> Home</a></li>
						<li><a href="#about" data-ajax='false' data-icon="false"><img is="dragable" src="https://raw.githubusercontent.com/dyoungwd/tla/master/img/icons/light_bulb_on.png"    /> About Us</a></li>
						<li><a href="#services" data-ajax='false' data-icon="false"><img is="dragable" src="https://raw.githubusercontent.com/dyoungwd/tla/master/img/icons/round.png "  /> Services</a></li>

						<li><a href="#contact" data-ajax='false' data-icon="false"><img is="dragable" src="https://raw.githubusercontent.com/dyoungwd/tla/master/img/icons/mail_open.png"  /> Contact Us</a></li>

					</ul>
				</div>
				<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Portal</h3>
					<ul data-role="listview" data-icon="false">

						<li><a href="https://tla.businesstogo.cloud/" data-ajax='false'><img is="dragable" src="https://raw.githubusercontent.com/dyoungwd/tla/master/img/icons/administrator.png "  />  Staff Portal</a></li>


					</ul>
				</div>


				<hr class="inset">
				<ul data-role="listview" data-inset="false">
					<li data-role="list-divider">Information</li>
				</ul>
				<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Nice to Know</h3>
					<ul data-role="listview" data-icon="false">
						<li><a href="#" data-ajax='false'><i class='fa fa-cookie fa-2x '> </i> Privacy</a></li>
						<li><a href="#contact" data-ajax='false'><i class='fa fa-headset fa-2x '> </i> Support</a></li>
					</ul>
				</div>
				<ul data-role="listview" data-icon="false">
					<li><a href="#" data-ajax='false'><i style="color:#3B5998;"class='fa fa-facebook fa-2x '> </i>ollow Us</a></li>
					</ul>
			</div>
			<!-- /panel left -->
